doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            a.font(href="https://owu.com.ua/") Don`t forget to visit this awesome site!
