<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Full user info</h1>
<div style="width: 300px; background-color: burlywood">
    <p>Your name: {{this.userInfo.name}}</p>
    <p>Your email: {{this.userInfo.email}}</p>
    <p>Your password: {{this.userInfo.password}}</p>
</div>
</body>
</html>
