<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Register</h1>
    <div style="width: 300px; height: 100px; padding: 5px; background-color: burlywood">
        <form action="/register" method="post" style="padding: 5px;">
            <input type="text" name="name" placeholder="Login">
            <input type="text" name="password" placeholder="Password">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
